REDIS_HOST="192.168.33.10"
REDIS_PORT=6379
REDIS_DB=0

FS_HOST="192.168.33.10"
FS_PORT=8083

USE_SANDBOX = False
CERT_FILE = "./p12/cert.pem"

FACE_USE_SANDBOX = True
FACE_CERT_FILE = "./p12/face_cert.pem"