$def with (sid)

<html>
  <head>
        <link rel="stylesheet" href="static/style.css" type="text/css" />

	<script type="text/javascript" src="static/jquery.js"></script>
	<script type="text/javascript" src="static/jquery.timer.js"></script>
	<script type="text/javascript" src="static/lib/engine.io.js"></script>
	<script type="text/javascript" src="static/lib/json2.js"></script>
	<script type="text/javascript" src="static/lib/im.js"></script>
        <script type="text/javascript" src="static/util.js"></script>
	<script type="text/javascript" src="static/client.js"></script>
	<script type="text/javascript" src="static/index.js"></script>
	<script>
	  var sid="$sid"
	</script>

  </head>

  <body>
    <div id="app">
      <div id="loginView">
	<img src="/qrcode/$sid"/>
      </div>
      <div id="chatHistory">
      </div>
      <div id="toolbar">
        <ul id="status">
          <li>
            users:
            <select name="users" id="usersList">

            </select>
          </li>
          <li>
            name:
            <span id="name">
            </span>
          </li>
        </ul>
        <input tabindex="1" type="text" id="entry" />
      </div>
    </div>
  </body>


  <body>
  </body>
</html>
